html {
  border-top: 2px solid #c9cacc;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

h1 {
  text-align: center;
}
body {
  color: #c9cacc;
  background-color: #1d1f21;
  font-family: "Menlo", "Meslo LG", monospace;
  font-weight: 400;
  line-height: 1.725;
  text-rendering: geometricPrecision;
  min-height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.time-container button {
  font-family: "Menlo", "Meslo LG", monospace;
  font-size: 16px;
  text-align: center;
  color: #c9cacc;
  background-color: #333;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  padding: 8px;
  border-radius: 8px;
}
.time-container details {
  text-align: left;
  font-size: 16px;
}
.time-container summary {
  font-size: 16px;
  color: #c9cacc;
  background-color: #333;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  width: 100%;
  text-align: left;
  list-style: none;
  padding: 5px 0px 10px 10px;
}
.time-container summary:hover {
  background-color: #444;
}
.time-container h1 {
  font-size: 25px;
  text-align: center;
  color: white;
}

.time-container a {
  color: #c9cacc;
  text-decoration: underline;
  text-decoration-color: #2bbc8a;
  text-underline-offset: 5px;
}
.time-container a:hover {
  color: #2bbc8a;
}
.time-container {
  display: grid;
  grid-template-columns: 20% 80%;
}
.time-container .graph {
  display: inline;
}
.time-container .pie {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.pie-container {
  display: grid;
  grid-template-columns: auto auto;
}
.pie-legends {
  margin-top: 30px;
}
.color-box {
  margin-right: 10px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.entries ol {
  list-style: none;
}
.entries li {
  margin-bottom: 10px;
}

.charts {
  margin-left: 40px;
  margin-right: 40px;
  padding-left: 20px;
  border: 5px solid #333;
  border-radius: 40px;
}

.stats {
  padding-left: 20px;
  padding-top: 20px;
  font-size: 19px;
  list-style-type:disclosure-closed;
}

.stats li{
  color: #c9cacc;
}

.stats b{
  color:#2bbc8a;
}
.info-container{
  display: grid;
  grid-template-columns: 75% 25%;
}

h2 {
  font-size: 22px;
  color: #c9cacc;
  text-decoration: underline;
  text-transform: capitalize;
  text-underline-offset: 4px;
  text-decoration-color: #2bbc8a;
}

.stat-chart .labels.x-labels {
  text-anchor: middle;
  fill: whitesmoke;
}

.stat-chart .labels.y-labels {
  text-anchor: end;
  fill: whitesmoke;
}

.stat-chart {
  height: 450px;
  width: 100%;
}

.stat-chart .grid {
  stroke: #ccc;
  stroke-dasharray: 0;
  stroke-width: 1;
}

.labels {
  font-size: 13px;
  text-transform: uppercase;
}

.label-title {
  font-weight: bold;
  font-size: 12px;
  fill: whitesmoke;
}

.data {
  fill: #2bbc8a;
  stroke-width: 1;
}
.dataLines {
  stroke: #2bbc8a;
  stroke-width: 2;
}
@media screen and (max-width: 650px) {
}
